/* LOGO & MENU */

#logo{
	position: absolute;
}

#header {
	position: relative;
	background-color: transparent;
	border-bottom: 1px solid #F5F5F5;
}

#header .container { position: relative; }


#header { border-bottom-color: #EEE; }



#primary-menu { 
	float: right;
	color: white !important; 
}


#primary-menu ul {
	list-style: none;
	margin: 0;
}

#primary-menu > ul { float: left; }

#primary-menu ul li { position: relative; }

#primary-menu ul > li {
	float: left;
	margin-left: 2px;
}


#primary-menu ul li > a {
	display: block;
	line-height: 22px;
	padding: 39px 15px;
	color: white;
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	-webkit-transition: margin .4s ease, padding .4s ease;
	-o-transition: margin .4s ease, padding .4s ease;
	transition: margin .4s ease, padding .4s ease;
}

#primary-menu ul li > a span { display: none; }

#primary-menu ul li > a i {
	position: relative;
	top: -1px;
	font-size: 14px;
	width: 16px;
	text-align: center;
	margin-right: 6px;
	vertical-align: top;
}


#primary-menu ul li:hover > a,
#primary-menu ul li.current > a { color: white; }

#primary-menu ul ul li > a i { vertical-align: middle; }

#primary-menu ul ul li:hover > a {
	background-color: #F9F9F9;
	padding-left: 18px;
	color: #1ABC9C;
}

/*Background Image*/

body, html {
  height: 100%;
}

.bg {
  background-image: url("background11.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Footer */

.footer {
	overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
}

.footer ul li:hover > a,
.footer ul li.current > a { color: white; }
.footer ul li > a {color: white;}



/* REV */

section.main{
	position: relative;
    padding: 90px 0px;
    border: none !important;
    color: white;
}

.rev-right{
	float: right;
}

.rev-left{
	position: absolute;
}

.animated { 
    position: absolute;
    left: 100%;
    top: 0px;
    -webkit-animation: moveToLeft 1s forwards linear;
    animation: moveToLeft 1s forwards linear;
}

@-webkit-keyframes moveToLeft {
    from {left: 100%;}
    to {left: 50%;}
}

@keyframes moveToLeft {
    from {left: 100%;}
    to {left: 50%;}
}
/* Fonts */

h1 {
    font-size: 5.6em;
    font-weight: 600;
    line-height: 1;
    margin-left: -5px;
    letter-spacing: -3px;
}

.font-weight-semibold {
	font-size: 1.6em;
    font-weight: 300;
    color: white;
}

.custom-btn-style-1, .custom-btn-style-1:active {
    background: #f4645a;
    background: -webkit-gradient(left top, right top, color-stop(0%, #f4645a), color-stop(100%, hsl(3.8961039, 100%, 75%)));
    background: -webkit-gradient(linear, left top, right top, from(#f4645a), to(hsl(3.8961039, 100%, 75%)));
    background: linear-gradient(to right, #3fedb0 0%, #10bf84 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4645a', endColorstr='#ff857c', GradientType=1);
    border: none;
    border-radius: 50px !important;
    padding: 13px 30px;
    font-size: 12px;
    font-weight: 600;
    color: white;
}




.col_one_third { width: 30.63%; }
.col_one_third {
    display: block;
    position: relative;
    margin-right: 4%;
    margin-bottom: 50px;
    float: left;
}
.content-wrap {
    position: relative;
    padding: 80px 0;
}


form .col_full {
    margin-bottom: 25px;
}
.col_full {
    clear: both;
    float: none;
    margin-right: 0;
}
.col_full {
    display: block;
    position: relative;
    margin-right: 4%;
    margin-bottom: 50px;
    float: left;
}
.col_full {
    width: 100%;
}

.form-control {
    border-radius: 3px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button, input {
    overflow: visible;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

label {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555;
    margin-bottom: 10px;
    cursor: pointer;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fright {
    float: right !important;
}

.col_last {
    margin-right: 0 !important;
    float: right;
    clear: right;
}
.col_two_third {
    display: block;
    position: relative;
    margin-right: 4%;
    margin-bottom: 50px;
    float: left;
}
.col_two_third {
    width: 65.33%;
}

form .col_half {
    margin-bottom: 25px;
}
.col_half {
    display: block;
    position: relative;
    margin-right: 4%;
    margin-bottom: 50px;
    float: left;
}
.col_half {
    width: 48%;
}